<nav class="navbar navbar-light bg-dark"> <!--navbar(Bootstrap) navbar light: deixa os componentes brancos; bg-dark: deixa os componentes preto-->
  <a class="navbar-brand" href="/">
    <img src="/img/TeraLogoMiniature.png" width="150" height="150" alt="">
  </a>
</nav>
